<div class="back">
<div class="container col d-flex justify-content-center mx-auto" >
  <form>
    <div class="form-group">
      <select
        class="form-select form-select-lg mb-3"
        aria-label=".form-select-lg example"
      >
        <option selected>Select Currency</option>
        <option value="1">ZWL</option>
        <option value="2">USD</option>
      </select>
    </div>
    <div class="form-group">
      <select
        class="form-select form-select-lg mb-3"
        aria-label=".form-select-lg example"
      >
        <option selected>Select Payment Method</option>
        <option value="1">Ecocash ZWL</option>
        <option value="2" class="disabled">Ecocash USD</option>
      </select>
    </div>
    <div class="form-group">
      <label for="email">Phone Number</label>
      <input type="email" class="form-control" name="email" />
    </div>

    <button type="reset" class="btn">Reset</button>
    <button type="submit" class="btn" style="float: right">Submit</button>
  </form>
</div>
</div>

